@font-face {
  font-family: 'drysign';
  src:  url('../fonts/drysign.eot?wzy9w9');
  src:  url('../fonts/drysign.eot?wzy9w9#iefix') format('embedded-opentype'),
url('../fonts/drysign.ttf?wzy9w9') format('truetype'),
url('../fonts/drysign.woff?wzy9w9') format('woff'),
url('../fonts/drysign.svg?wzy9w9#drysign') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'drysign' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /*line-height: 1;*/

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add_signee:before {
  content: "\e900";
}
.icon-arrow_left:before {
  content: "\e901";
}
.icon-arrow_right:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-completed:before {
  content: "\e904";
}
.icon-dashboard:before {
  content: "\e905";
}
.icon-document:before {
  content: "\e906";
}
.icon-draft:before {
  content: "\e907";
}
.icon-eye:before {
  content: "\e908";
}
.icon-history:before {
  content: "\e909";
}
.icon-language:before {
  content: "\e90a";
}
.icon-mail:before {
  content: "\e90b";
}
.icon-menu:before {
  content: "\e90c";
}
.icon-notifications:before {
  content: "\e90d";
}
.icon-pricing:before {
  content: "\e90e";
}
.icon-random:before {
  content: "\e90f";
}
.icon-success:before {
  content: "\e910";
}
.icon-total_document:before {
  content: "\e911";
}
.icon-upload:before {
  content: "\e912";
}
.icon-waiting:before {
  content: "\e913";
}

